//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 12 01:06:16 2017
//! **************************************************************************

SCHEMATIC START;
COMP "up" LOCATE = SITE "P78" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "left" LOCATE = SITE "P66" LEVEL 1;
COMP "down" LOCATE = SITE "P80" LEVEL 1;
COMP "vga_h_sync" LOCATE = SITE "P15" LEVEL 1;
COMP "vga_v_sync" LOCATE = SITE "P12" LEVEL 1;
COMP "vga_B" LOCATE = SITE "P17" LEVEL 1;
COMP "vga_G" LOCATE = SITE "P22" LEVEL 1;
COMP "right" LOCATE = SITE "P74" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "io_led[0]" LOCATE = SITE "P97" LEVEL 1;
COMP "io_led[1]" LOCATE = SITE "P98" LEVEL 1;
COMP "io_led[2]" LOCATE = SITE "P94" LEVEL 1;
COMP "io_led[3]" LOCATE = SITE "P95" LEVEL 1;
COMP "io_led[4]" LOCATE = SITE "P92" LEVEL 1;
COMP "io_led[5]" LOCATE = SITE "P93" LEVEL 1;
COMP "vga_R" LOCATE = SITE "P24" LEVEL 1;
COMP "rotate_right" LOCATE = SITE "P82" LEVEL 1;
COMP "rotate_left" LOCATE = SITE "P84" LEVEL 1;
PIN tiles/shape1_a/base_Mram__n07872_pins<9> = BEL
        "tiles/shape1_a/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape1_a/base_Mram__n07871_pins<9> = BEL
        "tiles/shape1_a/base_Mram__n07871" PINNAME CLKA;
PIN tiles/shape1_b/base_Mram__n07872_pins<9> = BEL
        "tiles/shape1_b/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape1_b/base_Mram__n07871_pins<9> = BEL
        "tiles/shape1_b/base_Mram__n07871" PINNAME CLKA;
PIN tiles/shape1_c/base_Mram__n07872_pins<9> = BEL
        "tiles/shape1_c/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape1_c/base_Mram__n07871_pins<9> = BEL
        "tiles/shape1_c/base_Mram__n07871" PINNAME CLKA;
PIN tiles/shape1_d/base_Mram__n07872_pins<9> = BEL
        "tiles/shape1_d/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape1_d/base_Mram__n07871_pins<9> = BEL
        "tiles/shape1_d/base_Mram__n07871" PINNAME CLKA;
PIN tiles/shape1_e/base_Mram__n07872_pins<9> = BEL
        "tiles/shape1_e/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape1_e/base_Mram__n07871_pins<9> = BEL
        "tiles/shape1_e/base_Mram__n07871" PINNAME CLKA;
PIN tiles/shape1_f/base_Mram__n07872_pins<9> = BEL
        "tiles/shape1_f/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape1_f/base_Mram__n07871_pins<9> = BEL
        "tiles/shape1_f/base_Mram__n07871" PINNAME CLKA;
PIN tiles/shape1_g/base_Mram__n07872_pins<9> = BEL
        "tiles/shape1_g/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape1_g/base_Mram__n07871_pins<9> = BEL
        "tiles/shape1_g/base_Mram__n07871" PINNAME CLKA;
PIN tiles/shape3_a/base_Mram__n05572_pins<9> = BEL
        "tiles/shape3_a/base_Mram__n05572" PINNAME CLKAWRCLK;
PIN tiles/shape3_a/base_Mram__n05571_pins<9> = BEL
        "tiles/shape3_a/base_Mram__n05571" PINNAME CLKA;
PIN tiles/shape3_b/base_Mram__n05572_pins<9> = BEL
        "tiles/shape3_b/base_Mram__n05572" PINNAME CLKAWRCLK;
PIN tiles/shape3_b/base_Mram__n05571_pins<9> = BEL
        "tiles/shape3_b/base_Mram__n05571" PINNAME CLKA;
PIN tiles/shape3_c/base_Mram__n05572_pins<9> = BEL
        "tiles/shape3_c/base_Mram__n05572" PINNAME CLKAWRCLK;
PIN tiles/shape3_c/base_Mram__n05571_pins<9> = BEL
        "tiles/shape3_c/base_Mram__n05571" PINNAME CLKA;
PIN tiles/shape3_d/base_Mram__n05572_pins<9> = BEL
        "tiles/shape3_d/base_Mram__n05572" PINNAME CLKAWRCLK;
PIN tiles/shape3_d/base_Mram__n05571_pins<9> = BEL
        "tiles/shape3_d/base_Mram__n05571" PINNAME CLKA;
PIN tiles/shape3_e/base_Mram__n05572_pins<9> = BEL
        "tiles/shape3_e/base_Mram__n05572" PINNAME CLKAWRCLK;
PIN tiles/shape3_e/base_Mram__n05571_pins<9> = BEL
        "tiles/shape3_e/base_Mram__n05571" PINNAME CLKA;
PIN tiles/shape3_f/base_Mram__n05572_pins<9> = BEL
        "tiles/shape3_f/base_Mram__n05572" PINNAME CLKAWRCLK;
PIN tiles/shape3_f/base_Mram__n05571_pins<9> = BEL
        "tiles/shape3_f/base_Mram__n05571" PINNAME CLKA;
PIN tiles/shape5_a/base_Mram__n07872_pins<9> = BEL
        "tiles/shape5_a/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape5_a/base_Mram__n07871_pins<9> = BEL
        "tiles/shape5_a/base_Mram__n07871" PINNAME CLKA;
PIN tiles/shape5_b/base_Mram__n07872_pins<9> = BEL
        "tiles/shape5_b/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape5_b/base_Mram__n07871_pins<9> = BEL
        "tiles/shape5_b/base_Mram__n07871" PINNAME CLKA;
PIN tiles/shape5_c/base_Mram__n07872_pins<9> = BEL
        "tiles/shape5_c/base_Mram__n07872" PINNAME CLKAWRCLK;
PIN tiles/shape5_c/base_Mram__n07871_pins<9> = BEL
        "tiles/shape5_c/base_Mram__n07871" PINNAME CLKA;
TIMEGRP clk = BEL "io_led_0" BEL "io_led_1" BEL "io_led_4" BEL "vga_R" BEL
        "tiles/M_tile21_orientation_q_0" BEL "tiles/M_tile16_orientation_q_0"
        BEL "tiles/M_tile21_orientation_q_1" BEL
        "tiles/M_tile16_orientation_q_1" BEL "tiles/M_tile21_orientation_q_2"
        BEL "tiles/M_tile16_orientation_q_2" BEL
        "tiles/M_tile11_orientation_q_0" BEL "tiles/M_tile11_orientation_q_1"
        BEL "tiles/M_tile11_orientation_q_2" BEL "tiles/M_number_of_wins_q_0"
        BEL "tiles/M_tile12_orientation_q_0" BEL
        "tiles/M_tile12_orientation_q_1" BEL "tiles/M_tile12_orientation_q_2"
        BEL "tiles/M_game_stage_q_FSM_FFd1_1" BEL
        "tiles/M_tile6_orientation_q_0" BEL "tiles/M_tile6_orientation_q_1"
        BEL "tiles/M_tile6_orientation_q_2" BEL
        "tiles/M_tile7_orientation_q_0" BEL "tiles/M_tile7_orientation_q_1"
        BEL "tiles/M_tile7_orientation_q_2" BEL "tiles/shape0_a/base/raddr_7"
        BEL "tiles/shape0_a/base/raddr_6" BEL "tiles/shape0_a/base/raddr_5"
        BEL "tiles/shape0_a/base/raddr_4" BEL "tiles/shape0_a/base/raddr_3"
        BEL "tiles/shape0_a/base/raddr_2" BEL "tiles/shape0_a/base/raddr_1"
        BEL "tiles/shape0_a/base/raddr_0" BEL
        "tiles/shape0_a/base/address_reg_5" BEL
        "tiles/shape0_a/base/address_reg_4" BEL
        "tiles/shape0_a/base/address_reg_3" BEL
        "tiles/shape0_a/base/address_reg_2" BEL
        "tiles/shape0_a/base/address_reg_1" BEL
        "tiles/shape0_a/base/address_reg_0" BEL
        "tiles/shape0_a/base/orient_reg_1" BEL
        "tiles/shape0_a/base/orient_reg_0" BEL "tiles/shape0_b/base/raddr_7"
        BEL "tiles/shape0_b/base/raddr_6" BEL "tiles/shape0_b/base/raddr_5"
        BEL "tiles/shape0_b/base/raddr_4" BEL "tiles/shape0_b/base/raddr_3"
        BEL "tiles/shape0_b/base/raddr_2" BEL "tiles/shape0_b/base/raddr_1"
        BEL "tiles/shape0_b/base/raddr_0" BEL
        "tiles/shape0_b/base/address_reg_5" BEL
        "tiles/shape0_b/base/address_reg_4" BEL
        "tiles/shape0_b/base/address_reg_3" BEL
        "tiles/shape0_b/base/address_reg_2" BEL
        "tiles/shape0_b/base/address_reg_1" BEL
        "tiles/shape0_b/base/address_reg_0" BEL
        "tiles/shape0_b/base/orient_reg_1" BEL
        "tiles/shape0_b/base/orient_reg_0" BEL "tiles/shape0_c/base/raddr_7"
        BEL "tiles/shape0_c/base/raddr_6" BEL "tiles/shape0_c/base/raddr_5"
        BEL "tiles/shape0_c/base/raddr_4" BEL "tiles/shape0_c/base/raddr_3"
        BEL "tiles/shape0_c/base/raddr_2" BEL "tiles/shape0_c/base/raddr_1"
        BEL "tiles/shape0_c/base/raddr_0" BEL
        "tiles/shape0_c/base/address_reg_5" BEL
        "tiles/shape0_c/base/address_reg_4" BEL
        "tiles/shape0_c/base/address_reg_3" BEL
        "tiles/shape0_c/base/address_reg_2" BEL
        "tiles/shape0_c/base/address_reg_1" BEL
        "tiles/shape0_c/base/address_reg_0" BEL
        "tiles/shape0_c/base/orient_reg_1" BEL
        "tiles/shape0_c/base/orient_reg_0" BEL "tiles/shape0_d/base/raddr_7"
        BEL "tiles/shape0_d/base/raddr_6" BEL "tiles/shape0_d/base/raddr_5"
        BEL "tiles/shape0_d/base/raddr_4" BEL "tiles/shape0_d/base/raddr_3"
        BEL "tiles/shape0_d/base/raddr_2" BEL "tiles/shape0_d/base/raddr_1"
        BEL "tiles/shape0_d/base/raddr_0" BEL
        "tiles/shape0_d/base/address_reg_5" BEL
        "tiles/shape0_d/base/address_reg_4" BEL
        "tiles/shape0_d/base/address_reg_3" BEL
        "tiles/shape0_d/base/address_reg_2" BEL
        "tiles/shape0_d/base/address_reg_1" BEL
        "tiles/shape0_d/base/address_reg_0" BEL
        "tiles/shape0_d/base/orient_reg_1" BEL
        "tiles/shape0_d/base/orient_reg_0" BEL "tiles/shape0_e/base/raddr_7"
        BEL "tiles/shape0_e/base/raddr_6" BEL "tiles/shape0_e/base/raddr_5"
        BEL "tiles/shape0_e/base/raddr_4" BEL "tiles/shape0_e/base/raddr_3"
        BEL "tiles/shape0_e/base/raddr_2" BEL "tiles/shape0_e/base/raddr_1"
        BEL "tiles/shape0_e/base/raddr_0" BEL
        "tiles/shape0_e/base/address_reg_5" BEL
        "tiles/shape0_e/base/address_reg_4" BEL
        "tiles/shape0_e/base/address_reg_3" BEL
        "tiles/shape0_e/base/address_reg_2" BEL
        "tiles/shape0_e/base/address_reg_1" BEL
        "tiles/shape0_e/base/address_reg_0" BEL
        "tiles/shape0_e/base/orient_reg_1" BEL
        "tiles/shape0_e/base/orient_reg_0" PIN
        "tiles/shape1_a/base_Mram__n07872_pins<9>" PIN
        "tiles/shape1_a/base_Mram__n07871_pins<9>" BEL
        "tiles/shape1_a/base/address_reg_5" BEL
        "tiles/shape1_a/base/address_reg_4" BEL
        "tiles/shape1_a/base/address_reg_3" BEL
        "tiles/shape1_a/base/address_reg_2" BEL
        "tiles/shape1_a/base/address_reg_1" BEL
        "tiles/shape1_a/base/address_reg_0" BEL
        "tiles/shape1_a/base/orient_reg_1" BEL
        "tiles/shape1_a/base/orient_reg_0" PIN
        "tiles/shape1_b/base_Mram__n07872_pins<9>" PIN
        "tiles/shape1_b/base_Mram__n07871_pins<9>" BEL
        "tiles/shape1_b/base/address_reg_5" BEL
        "tiles/shape1_b/base/address_reg_4" BEL
        "tiles/shape1_b/base/address_reg_3" BEL
        "tiles/shape1_b/base/address_reg_2" BEL
        "tiles/shape1_b/base/address_reg_1" BEL
        "tiles/shape1_b/base/address_reg_0" BEL
        "tiles/shape1_b/base/orient_reg_1" BEL
        "tiles/shape1_b/base/orient_reg_0" PIN
        "tiles/shape1_c/base_Mram__n07872_pins<9>" PIN
        "tiles/shape1_c/base_Mram__n07871_pins<9>" BEL
        "tiles/shape1_c/base/address_reg_5" BEL
        "tiles/shape1_c/base/address_reg_4" BEL
        "tiles/shape1_c/base/address_reg_3" BEL
        "tiles/shape1_c/base/address_reg_2" BEL
        "tiles/shape1_c/base/address_reg_1" BEL
        "tiles/shape1_c/base/address_reg_0" BEL
        "tiles/shape1_c/base/orient_reg_1" BEL
        "tiles/shape1_c/base/orient_reg_0" PIN
        "tiles/shape1_d/base_Mram__n07872_pins<9>" PIN
        "tiles/shape1_d/base_Mram__n07871_pins<9>" BEL
        "tiles/shape1_d/base/address_reg_5" BEL
        "tiles/shape1_d/base/address_reg_4" BEL
        "tiles/shape1_d/base/address_reg_3" BEL
        "tiles/shape1_d/base/address_reg_2" BEL
        "tiles/shape1_d/base/address_reg_1" BEL
        "tiles/shape1_d/base/address_reg_0" BEL
        "tiles/shape1_d/base/orient_reg_1" BEL
        "tiles/shape1_d/base/orient_reg_0" PIN
        "tiles/shape1_e/base_Mram__n07872_pins<9>" PIN
        "tiles/shape1_e/base_Mram__n07871_pins<9>" BEL
        "tiles/shape1_e/base/address_reg_5" BEL
        "tiles/shape1_e/base/address_reg_4" BEL
        "tiles/shape1_e/base/address_reg_3" BEL
        "tiles/shape1_e/base/address_reg_2" BEL
        "tiles/shape1_e/base/address_reg_1" BEL
        "tiles/shape1_e/base/address_reg_0" BEL
        "tiles/shape1_e/base/orient_reg_1" BEL
        "tiles/shape1_e/base/orient_reg_0" PIN
        "tiles/shape1_f/base_Mram__n07872_pins<9>" PIN
        "tiles/shape1_f/base_Mram__n07871_pins<9>" BEL
        "tiles/shape1_f/base/address_reg_5" BEL
        "tiles/shape1_f/base/address_reg_4" BEL
        "tiles/shape1_f/base/address_reg_3" BEL
        "tiles/shape1_f/base/address_reg_2" BEL
        "tiles/shape1_f/base/address_reg_1" BEL
        "tiles/shape1_f/base/address_reg_0" BEL
        "tiles/shape1_f/base/orient_reg_1" BEL
        "tiles/shape1_f/base/orient_reg_0" PIN
        "tiles/shape1_g/base_Mram__n07872_pins<9>" PIN
        "tiles/shape1_g/base_Mram__n07871_pins<9>" BEL
        "tiles/shape1_g/base/address_reg_5" BEL
        "tiles/shape1_g/base/address_reg_4" BEL
        "tiles/shape1_g/base/address_reg_3" BEL
        "tiles/shape1_g/base/address_reg_2" BEL
        "tiles/shape1_g/base/address_reg_1" BEL
        "tiles/shape1_g/base/address_reg_0" BEL
        "tiles/shape1_g/base/orient_reg_1" BEL
        "tiles/shape1_g/base/orient_reg_0" BEL "tiles/shape2_a/base/raddr_7"
        BEL "tiles/shape2_a/base/raddr_6" BEL "tiles/shape2_a/base/raddr_5"
        BEL "tiles/shape2_a/base/raddr_4" BEL "tiles/shape2_a/base/raddr_3"
        BEL "tiles/shape2_a/base/raddr_2" BEL "tiles/shape2_a/base/raddr_1"
        BEL "tiles/shape2_a/base/raddr_0" BEL
        "tiles/shape2_a/base/address_reg_5" BEL
        "tiles/shape2_a/base/address_reg_4" BEL
        "tiles/shape2_a/base/address_reg_3" BEL
        "tiles/shape2_a/base/address_reg_2" BEL
        "tiles/shape2_a/base/address_reg_1" BEL
        "tiles/shape2_a/base/address_reg_0" BEL
        "tiles/shape2_a/base/orient_reg_1" BEL
        "tiles/shape2_a/base/orient_reg_0" BEL "tiles/shape2_b/base/raddr_7"
        BEL "tiles/shape2_b/base/raddr_6" BEL "tiles/shape2_b/base/raddr_5"
        BEL "tiles/shape2_b/base/raddr_4" BEL "tiles/shape2_b/base/raddr_3"
        BEL "tiles/shape2_b/base/raddr_2" BEL "tiles/shape2_b/base/raddr_1"
        BEL "tiles/shape2_b/base/raddr_0" BEL
        "tiles/shape2_b/base/address_reg_5" BEL
        "tiles/shape2_b/base/address_reg_4" BEL
        "tiles/shape2_b/base/address_reg_3" BEL
        "tiles/shape2_b/base/address_reg_2" BEL
        "tiles/shape2_b/base/address_reg_1" BEL
        "tiles/shape2_b/base/address_reg_0" BEL
        "tiles/shape2_b/base/orient_reg_1" BEL
        "tiles/shape2_b/base/orient_reg_0" BEL "tiles/shape2_c/base/raddr_7"
        BEL "tiles/shape2_c/base/raddr_6" BEL "tiles/shape2_c/base/raddr_5"
        BEL "tiles/shape2_c/base/raddr_4" BEL "tiles/shape2_c/base/raddr_3"
        BEL "tiles/shape2_c/base/raddr_2" BEL "tiles/shape2_c/base/raddr_1"
        BEL "tiles/shape2_c/base/raddr_0" BEL
        "tiles/shape2_c/base/address_reg_5" BEL
        "tiles/shape2_c/base/address_reg_4" BEL
        "tiles/shape2_c/base/address_reg_3" BEL
        "tiles/shape2_c/base/address_reg_2" BEL
        "tiles/shape2_c/base/address_reg_1" BEL
        "tiles/shape2_c/base/address_reg_0" BEL
        "tiles/shape2_c/base/orient_reg_1" BEL
        "tiles/shape2_c/base/orient_reg_0" BEL "tiles/shape2_d/base/raddr_7"
        BEL "tiles/shape2_d/base/raddr_6" BEL "tiles/shape2_d/base/raddr_5"
        BEL "tiles/shape2_d/base/raddr_4" BEL "tiles/shape2_d/base/raddr_3"
        BEL "tiles/shape2_d/base/raddr_2" BEL "tiles/shape2_d/base/raddr_1"
        BEL "tiles/shape2_d/base/raddr_0" BEL
        "tiles/shape2_d/base/address_reg_5" BEL
        "tiles/shape2_d/base/address_reg_4" BEL
        "tiles/shape2_d/base/address_reg_3" BEL
        "tiles/shape2_d/base/address_reg_2" BEL
        "tiles/shape2_d/base/address_reg_1" BEL
        "tiles/shape2_d/base/address_reg_0" BEL
        "tiles/shape2_d/base/orient_reg_1" BEL
        "tiles/shape2_d/base/orient_reg_0" BEL "tiles/shape2_e/base/raddr_7"
        BEL "tiles/shape2_e/base/raddr_6" BEL "tiles/shape2_e/base/raddr_5"
        BEL "tiles/shape2_e/base/raddr_4" BEL "tiles/shape2_e/base/raddr_3"
        BEL "tiles/shape2_e/base/raddr_2" BEL "tiles/shape2_e/base/raddr_1"
        BEL "tiles/shape2_e/base/raddr_0" BEL
        "tiles/shape2_e/base/address_reg_5" BEL
        "tiles/shape2_e/base/address_reg_4" BEL
        "tiles/shape2_e/base/address_reg_3" BEL
        "tiles/shape2_e/base/address_reg_2" BEL
        "tiles/shape2_e/base/address_reg_1" BEL
        "tiles/shape2_e/base/address_reg_0" BEL
        "tiles/shape2_e/base/orient_reg_1" BEL
        "tiles/shape2_e/base/orient_reg_0" BEL "tiles/M_tile1_orientation_q_0"
        BEL "tiles/M_tile1_orientation_q_1" BEL
        "tiles/M_tile1_orientation_q_2" PIN
        "tiles/shape3_a/base_Mram__n05572_pins<9>" PIN
        "tiles/shape3_a/base_Mram__n05571_pins<9>" BEL
        "tiles/shape3_a/base/address_reg_5" BEL
        "tiles/shape3_a/base/address_reg_4" BEL
        "tiles/shape3_a/base/address_reg_3" BEL
        "tiles/shape3_a/base/address_reg_2" BEL
        "tiles/shape3_a/base/address_reg_1" BEL
        "tiles/shape3_a/base/address_reg_0" BEL
        "tiles/shape3_a/base/orient_reg_1" BEL
        "tiles/shape3_a/base/orient_reg_0" PIN
        "tiles/shape3_b/base_Mram__n05572_pins<9>" PIN
        "tiles/shape3_b/base_Mram__n05571_pins<9>" BEL
        "tiles/shape3_b/base/address_reg_5" BEL
        "tiles/shape3_b/base/address_reg_4" BEL
        "tiles/shape3_b/base/address_reg_3" BEL
        "tiles/shape3_b/base/address_reg_2" BEL
        "tiles/shape3_b/base/address_reg_1" BEL
        "tiles/shape3_b/base/address_reg_0" BEL
        "tiles/shape3_b/base/orient_reg_1" BEL
        "tiles/shape3_b/base/orient_reg_0" PIN
        "tiles/shape3_c/base_Mram__n05572_pins<9>" PIN
        "tiles/shape3_c/base_Mram__n05571_pins<9>" BEL
        "tiles/shape3_c/base/address_reg_5" BEL
        "tiles/shape3_c/base/address_reg_4" BEL
        "tiles/shape3_c/base/address_reg_3" BEL
        "tiles/shape3_c/base/address_reg_2" BEL
        "tiles/shape3_c/base/address_reg_1" BEL
        "tiles/shape3_c/base/address_reg_0" BEL
        "tiles/shape3_c/base/orient_reg_1" BEL
        "tiles/shape3_c/base/orient_reg_0" PIN
        "tiles/shape3_d/base_Mram__n05572_pins<9>" PIN
        "tiles/shape3_d/base_Mram__n05571_pins<9>" BEL
        "tiles/shape3_d/base/address_reg_5" BEL
        "tiles/shape3_d/base/address_reg_4" BEL
        "tiles/shape3_d/base/address_reg_3" BEL
        "tiles/shape3_d/base/address_reg_2" BEL
        "tiles/shape3_d/base/address_reg_1" BEL
        "tiles/shape3_d/base/address_reg_0" BEL
        "tiles/shape3_d/base/orient_reg_1" BEL
        "tiles/shape3_d/base/orient_reg_0" PIN
        "tiles/shape3_e/base_Mram__n05572_pins<9>" PIN
        "tiles/shape3_e/base_Mram__n05571_pins<9>" BEL
        "tiles/shape3_e/base/address_reg_5" BEL
        "tiles/shape3_e/base/address_reg_4" BEL
        "tiles/shape3_e/base/address_reg_3" BEL
        "tiles/shape3_e/base/address_reg_2" BEL
        "tiles/shape3_e/base/address_reg_1" BEL
        "tiles/shape3_e/base/address_reg_0" BEL
        "tiles/shape3_e/base/orient_reg_1" BEL
        "tiles/shape3_e/base/orient_reg_0" PIN
        "tiles/shape3_f/base_Mram__n05572_pins<9>" PIN
        "tiles/shape3_f/base_Mram__n05571_pins<9>" BEL
        "tiles/shape3_f/base/address_reg_5" BEL
        "tiles/shape3_f/base/address_reg_4" BEL
        "tiles/shape3_f/base/address_reg_3" BEL
        "tiles/shape3_f/base/address_reg_2" BEL
        "tiles/shape3_f/base/address_reg_1" BEL
        "tiles/shape3_f/base/address_reg_0" BEL
        "tiles/shape3_f/base/orient_reg_1" BEL
        "tiles/shape3_f/base/orient_reg_0" BEL "tiles/shape4_a/base/raddr_7"
        BEL "tiles/shape4_a/base/raddr_6" BEL "tiles/shape4_a/base/raddr_5"
        BEL "tiles/shape4_a/base/raddr_4" BEL "tiles/shape4_a/base/raddr_3"
        BEL "tiles/shape4_a/base/raddr_2" BEL "tiles/shape4_a/base/raddr_1"
        BEL "tiles/shape4_a/base/raddr_0" BEL
        "tiles/shape4_a/base/address_reg_5" BEL
        "tiles/shape4_a/base/address_reg_4" BEL
        "tiles/shape4_a/base/address_reg_3" BEL
        "tiles/shape4_a/base/address_reg_2" BEL
        "tiles/shape4_a/base/address_reg_1" BEL
        "tiles/shape4_a/base/address_reg_0" BEL
        "tiles/shape4_a/base/orient_reg_1" BEL
        "tiles/shape4_a/base/orient_reg_0" BEL "tiles/shape4_b/base/raddr_7"
        BEL "tiles/shape4_b/base/raddr_6" BEL "tiles/shape4_b/base/raddr_5"
        BEL "tiles/shape4_b/base/raddr_4" BEL "tiles/shape4_b/base/raddr_3"
        BEL "tiles/shape4_b/base/raddr_2" BEL "tiles/shape4_b/base/raddr_1"
        BEL "tiles/shape4_b/base/raddr_0" BEL
        "tiles/shape4_b/base/address_reg_5" BEL
        "tiles/shape4_b/base/address_reg_4" BEL
        "tiles/shape4_b/base/address_reg_3" BEL
        "tiles/shape4_b/base/address_reg_2" BEL
        "tiles/shape4_b/base/address_reg_1" BEL
        "tiles/shape4_b/base/address_reg_0" BEL
        "tiles/shape4_b/base/orient_reg_1" BEL
        "tiles/shape4_b/base/orient_reg_0" BEL "tiles/shape4_c/base/raddr_7"
        BEL "tiles/shape4_c/base/raddr_6" BEL "tiles/shape4_c/base/raddr_5"
        BEL "tiles/shape4_c/base/raddr_4" BEL "tiles/shape4_c/base/raddr_3"
        BEL "tiles/shape4_c/base/raddr_2" BEL "tiles/shape4_c/base/raddr_1"
        BEL "tiles/shape4_c/base/raddr_0" BEL
        "tiles/shape4_c/base/address_reg_5" BEL
        "tiles/shape4_c/base/address_reg_4" BEL
        "tiles/shape4_c/base/address_reg_3" BEL
        "tiles/shape4_c/base/address_reg_2" BEL
        "tiles/shape4_c/base/address_reg_1" BEL
        "tiles/shape4_c/base/address_reg_0" BEL
        "tiles/shape4_c/base/orient_reg_1" BEL
        "tiles/shape4_c/base/orient_reg_0" BEL "tiles/shape4_d/base/raddr_7"
        BEL "tiles/shape4_d/base/raddr_6" BEL "tiles/shape4_d/base/raddr_5"
        BEL "tiles/shape4_d/base/raddr_4" BEL "tiles/shape4_d/base/raddr_3"
        BEL "tiles/shape4_d/base/raddr_2" BEL "tiles/shape4_d/base/raddr_1"
        BEL "tiles/shape4_d/base/raddr_0" BEL
        "tiles/shape4_d/base/address_reg_5" BEL
        "tiles/shape4_d/base/address_reg_4" BEL
        "tiles/shape4_d/base/address_reg_3" BEL
        "tiles/shape4_d/base/address_reg_2" BEL
        "tiles/shape4_d/base/address_reg_1" BEL
        "tiles/shape4_d/base/address_reg_0" BEL
        "tiles/shape4_d/base/orient_reg_1" BEL
        "tiles/shape4_d/base/orient_reg_0" BEL "tiles/shape4_e/base/raddr_7"
        BEL "tiles/shape4_e/base/raddr_6" BEL "tiles/shape4_e/base/raddr_5"
        BEL "tiles/shape4_e/base/raddr_4" BEL "tiles/shape4_e/base/raddr_3"
        BEL "tiles/shape4_e/base/raddr_2" BEL "tiles/shape4_e/base/raddr_1"
        BEL "tiles/shape4_e/base/raddr_0" BEL
        "tiles/shape4_e/base/address_reg_5" BEL
        "tiles/shape4_e/base/address_reg_4" BEL
        "tiles/shape4_e/base/address_reg_3" BEL
        "tiles/shape4_e/base/address_reg_2" BEL
        "tiles/shape4_e/base/address_reg_1" BEL
        "tiles/shape4_e/base/address_reg_0" BEL
        "tiles/shape4_e/base/orient_reg_1" BEL
        "tiles/shape4_e/base/orient_reg_0" BEL "tiles/M_tile2_orientation_q_0"
        BEL "tiles/M_tile2_orientation_q_1" BEL
        "tiles/M_tile2_orientation_q_2" PIN
        "tiles/shape5_a/base_Mram__n07872_pins<9>" PIN
        "tiles/shape5_a/base_Mram__n07871_pins<9>" BEL
        "tiles/shape5_a/base/address_reg_5" BEL
        "tiles/shape5_a/base/address_reg_4" BEL
        "tiles/shape5_a/base/address_reg_3" BEL
        "tiles/shape5_a/base/address_reg_2" BEL
        "tiles/shape5_a/base/address_reg_1" BEL
        "tiles/shape5_a/base/address_reg_0" BEL
        "tiles/shape5_a/base/orient_reg_1" BEL
        "tiles/shape5_a/base/orient_reg_0" PIN
        "tiles/shape5_b/base_Mram__n07872_pins<9>" PIN
        "tiles/shape5_b/base_Mram__n07871_pins<9>" BEL
        "tiles/shape5_b/base/address_reg_5" BEL
        "tiles/shape5_b/base/address_reg_4" BEL
        "tiles/shape5_b/base/address_reg_3" BEL
        "tiles/shape5_b/base/address_reg_2" BEL
        "tiles/shape5_b/base/address_reg_1" BEL
        "tiles/shape5_b/base/address_reg_0" BEL
        "tiles/shape5_b/base/orient_reg_1" BEL
        "tiles/shape5_b/base/orient_reg_0" PIN
        "tiles/shape5_c/base_Mram__n07872_pins<9>" PIN
        "tiles/shape5_c/base_Mram__n07871_pins<9>" BEL
        "tiles/shape5_c/base/address_reg_5" BEL
        "tiles/shape5_c/base/address_reg_4" BEL
        "tiles/shape5_c/base/address_reg_3" BEL
        "tiles/shape5_c/base/address_reg_2" BEL
        "tiles/shape5_c/base/address_reg_1" BEL
        "tiles/shape5_c/base/address_reg_0" BEL
        "tiles/shape5_c/base/orient_reg_1" BEL
        "tiles/shape5_c/base/orient_reg_0" BEL "tiles/M_tile3_orientation_q_0"
        BEL "tiles/M_tile3_orientation_q_1" BEL
        "tiles/M_tile3_orientation_q_2" BEL "tiles/M_tile22_orientation_q_0"
        BEL "tiles/M_tile17_orientation_q_0" BEL
        "tiles/M_tile22_orientation_q_1" BEL "tiles/M_tile17_orientation_q_1"
        BEL "tiles/M_tile22_orientation_q_2" BEL
        "tiles/M_tile17_orientation_q_2" BEL "tiles/M_tile23_orientation_q_0"
        BEL "tiles/M_tile18_orientation_q_0" BEL
        "tiles/M_tile18_orientation_q_1" BEL "tiles/M_tile23_orientation_q_1"
        BEL "tiles/M_tile18_orientation_q_2" BEL
        "tiles/M_tile23_orientation_q_2" BEL
        "tiles/M_selected_tile_q_FSM_FFd1_1" BEL
        "tiles/M_selected_tile_q_FSM_FFd2_1" BEL
        "tiles/M_tile13_orientation_q_0" BEL "tiles/M_tile13_orientation_q_1"
        BEL "tiles/M_tile13_orientation_q_2" BEL
        "tiles/M_selected_tile_q_FSM_FFd3_1" BEL
        "tiles/M_selected_tile_q_FSM_FFd4_1" BEL
        "tiles/M_selected_tile_q_FSM_FFd4_2" BEL
        "tiles/M_selected_tile_q_FSM_FFd5_1" BEL
        "tiles/M_tile14_orientation_q_0" BEL "tiles/M_tile14_orientation_q_1"
        BEL "tiles/M_tile14_orientation_q_2" BEL
        "tiles/M_tile10_orientation_q_0" BEL "tiles/M_game_stage_q_FSM_FFd1"
        BEL "tiles/M_tile10_orientation_q_1" BEL
        "tiles/M_tile10_orientation_q_2" BEL "tiles/M_tile8_orientation_q_0"
        BEL "tiles/M_tile8_orientation_q_1" BEL
        "tiles/M_tile8_orientation_q_2" BEL "tiles/M_tile9_orientation_q_0"
        BEL "tiles/M_tile9_orientation_q_1" BEL
        "tiles/M_tile9_orientation_q_2" BEL "tiles/M_selected_tile_q_FSM_FFd1"
        BEL "tiles/M_selected_tile_q_FSM_FFd2" BEL
        "tiles/M_selected_tile_q_FSM_FFd3" BEL
        "tiles/M_selected_tile_q_FSM_FFd4" BEL
        "tiles/M_selected_tile_q_FSM_FFd5" BEL "tiles/M_tile4_orientation_q_0"
        BEL "tiles/M_tile4_orientation_q_1" BEL
        "tiles/M_tile4_orientation_q_2" BEL
        "tiles/counter/M_stateCounter_q_23" BEL
        "tiles/counter/M_stateCounter_q_22" BEL
        "tiles/counter/M_stateCounter_q_21" BEL
        "tiles/counter/M_stateCounter_q_20" BEL
        "tiles/counter/M_stateCounter_q_19" BEL
        "tiles/counter/M_stateCounter_q_18" BEL
        "tiles/counter/M_stateCounter_q_17" BEL
        "tiles/counter/M_stateCounter_q_16" BEL
        "tiles/counter/M_stateCounter_q_15" BEL
        "tiles/counter/M_stateCounter_q_14" BEL
        "tiles/counter/M_stateCounter_q_13" BEL
        "tiles/counter/M_stateCounter_q_12" BEL
        "tiles/counter/M_stateCounter_q_11" BEL
        "tiles/counter/M_stateCounter_q_10" BEL
        "tiles/counter/M_stateCounter_q_9" BEL
        "tiles/counter/M_stateCounter_q_8" BEL
        "tiles/counter/M_stateCounter_q_7" BEL
        "tiles/counter/M_stateCounter_q_6" BEL
        "tiles/counter/M_stateCounter_q_5" BEL
        "tiles/counter/M_stateCounter_q_4" BEL
        "tiles/counter/M_stateCounter_q_3" BEL
        "tiles/counter/M_stateCounter_q_2" BEL
        "tiles/counter/M_stateCounter_q_1" BEL
        "tiles/counter/M_stateCounter_q_0" BEL "tiles/M_tile5_orientation_q_0"
        BEL "tiles/M_tile5_orientation_q_1" BEL
        "tiles/M_tile5_orientation_q_2" BEL "tiles/M_tile24_orientation_q_0"
        BEL "tiles/M_tile19_orientation_q_0" BEL
        "tiles/M_tile24_orientation_q_1" BEL "tiles/M_tile19_orientation_q_1"
        BEL "tiles/M_tile24_orientation_q_2" BEL
        "tiles/M_tile19_orientation_q_2" BEL "tiles/M_tile25_orientation_q_0"
        BEL "tiles/M_tile25_orientation_q_1" BEL
        "tiles/M_tile25_orientation_q_2" BEL "tiles/M_tile15_orientation_q_0"
        BEL "tiles/M_tile20_orientation_q_0" BEL
        "tiles/M_tile20_orientation_q_1" BEL "tiles/M_tile15_orientation_q_1"
        BEL "tiles/M_tile20_orientation_q_2" BEL
        "tiles/M_tile15_orientation_q_2" BEL "syncgen/vga_VS" BEL
        "syncgen/vga_HS" BEL "syncgen/inDisplayArea" BEL "syncgen/CounterX_0"
        BEL "syncgen/CounterX_1" BEL "syncgen/CounterX_2" BEL
        "syncgen/CounterX_3" BEL "syncgen/CounterX_4" BEL "syncgen/CounterX_5"
        BEL "syncgen/CounterX_6" BEL "syncgen/CounterX_7" BEL
        "syncgen/CounterX_8" BEL "syncgen/CounterX_9" BEL
        "syncgen/CounterX_10" BEL "syncgen/CounterY_0" BEL
        "syncgen/CounterY_1" BEL "syncgen/CounterY_2" BEL "syncgen/CounterY_3"
        BEL "syncgen/CounterY_4" BEL "syncgen/CounterY_5" BEL
        "syncgen/CounterY_6" BEL "syncgen/CounterY_7" BEL "syncgen/CounterY_8"
        BEL "syncgen/CounterX_0_1" BEL "syncgen/CounterX_1_1" BEL
        "syncgen/CounterX_2_1" BEL "syncgen/CounterX_3_1" BEL
        "syncgen/CounterX_3_2" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 25 MHz HIGH 50%;
SCHEMATIC END;

