NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 25 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "vga_R" LOC = P24 | IOSTANDARD = LVTTL;
NET "vga_G" LOC = P22 | IOSTANDARD = LVTTL;
NET "vga_B" LOC = P17 | IOSTANDARD = LVTTL;
NET "vga_h_sync" LOC = P15 | IOSTANDARD = LVTTL;
NET "vga_v_sync" LOC = P12 | IOSTANDARD = LVTTL;

NET "left" LOC = P66 | IOSTANDARD = LVTTL;
NET "right" LOC = P74 | IOSTANDARD = LVTTL;
NET "up" LOC = P78 | IOSTANDARD = LVTTL;
NET "down" LOC = P80 | IOSTANDARD = LVTTL;
NET "rotate_left" LOC = P84 | IOSTANDARD = LVTTL;
NET "rotate_right" LOC = P82 | IOSTANDARD = LVTTL;